<!-- templates/base2.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
 crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
 crossorigin="anonymous"></script> 
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
 crossorigin="anonymous"></script>

</head>

<body>
  <span class="nav-toggler"></span>
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="container">
      <a class="navbar-link" href="{% url 'home' %}" class="navbar-brand">Abdultruth blog</a>
      {% if user.is_authenticated %}      
      <a class="nav-link" href="{% url 'add_post' %}" >Add Post</a>
      <a class="nav-link" href="#">Profile</a>
      {% else %}
      <a class="nav-link" href="{% url 'register' %}" >Sign Up</a>
      <a class="nav-link" href="{% url 'login' %}" >Login</a>
      {% endif %}
      </div>
    </nav>

    <br/>

    <div class="asidebar">
      {% if user.is_authenticated %} 
      <div class="card" style="width: 9rem;">
        <ul>
        <img src="{{ user.usr.avatar.url }}" class="rounded-circle" width="140" height="140" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
        </div>
        <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
      </ul>
      </div>
      {% endif %}
    </div>

{% block content %}
  
{% endblock content %}

</body>
<footer>copy right @ abdultruth 2022</footer>
</html>
 <!-- ... -->